{% extends 'booking_brain/base.html' %}
{% block title %} {{passenger.First_name}} Details {% endblock %}

{% block content %}
<div class="row g-4">
      <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
              <h6 class="mb-4">Details</h6>
                <table class="table table-striped table-hover">
                  <tr>
                    <th>Name</th>
                    <td>{{passenger.First_name}} {{passenger.Middle_name}} {{passenger.Last_name}}</td>
                  </tr>
                  <tr>
                    <th>Travel</th>
                    <td>{{passenger.Departure_place}} >> {{passenger.Destination}}</td>
                  </tr>
                  <tr>
                    <th>Departure Date</th>
                    <td>{{passenger.Departure_date}} </td>
                  </tr>
                  <tr>
                    <th>Return Date</th>
                    <td>{{passenger.Return_date}} </td>
                  </tr>
                  <tr>
                  <th>Amount</th>
                <td>{{passenger.Amount}} </td>
                </tr>
                <tr>
                  <th>Created Date</th>
                <td>{{passenger.Date_created}} </td>
                </tr>
              </table>
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
              <a href="{% url 'delete' passenger.id  %}" class="btn btn-secondary">Delete</a>
              <a href="{% url 'edit_customer' passenger.id  %}" class="btn btn-secondary">Edit</a>
        </div>
      </div> 
            {% if booking %}
      <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
              <h6 class="mb-4">Bookin info</h6>
              <table class="table table-striped table-hover">
                <tr>
                  <th>Booking No.</th>
                  <td>{{booking.Booking_no}}</td>
                </tr>
                <tr>
                  <th>Passport No.</th>
                  <td>{{booking.Passport_country}}</td>
                </tr>
                <tr>
                  <th>Passport Country</th>
                  <td>{{booking.Passport_country}}</td>
                </tr>
                <tr>
                  <th>Passport Expiry</th>
                  <td>{{booking.Passport_expiry}} </td>
                </tr>
                <tr>
                  <th>Date of Birth</th>
                  <td>{{booking.Date_birth}} </td>
                </tr>
                <tr>
                  <th>Gender</th>
                  <td>{{booking.Gender}} </td>
                </tr>
                <tr>
                  <th>Created Date</th>
                  <td>{{booking.Date_created}} </td>
                </tr>
                <tr>
                  <th>Created By</th>
                  <td>{{booking.user}} </td>
                </tr>
              </table>
              <a href="{% url 'delete_booking' booking.id  %}" class="btn btn-secondary">Delete</a>
              <a href="{% url 'edit_customer' booking.id  %}" class="btn btn-secondary">Edit</a>
            </div>
        </div>
          {%else%}

      <div class="col-sm-12 col-xl-6">
          <div class="bg-light rounded h-100 p-4">
              <h6 class="mb-4">Booking Form</h6>
              <form method="POST" action="">
                <form method="POST" action="">
                {{form }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit"> Record Booking </button>
              </form>
            </div>
        </div>
        {% endif %}
</div>






{% endblock %}