{% extends 'booking_brain/base.html' %}
{% block title %}  {% endblock %}

{% block content %}
<div class="row g-4">
<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4"> Passenger Info </h6> 
        <table class="table">
            <tr>
                <td>Name</td>
                <td>{{passenger}}</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>{{passenger.Amount}}</td>
            </tr>
        </table>
        
        
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button class="btn-primary" type="submit">Record Payment </button>
        </form>
    </div> 
</div>
</div>
{% endblock %}